.intro-orcamento {
  padding: 60px 60px 0px 60px;
}

.bg-orcamento {
  background: linear-gradient(
    #3d3d3d 0%,
    #3d3d3d 40%,
    #cccccc 40%,
    #cccccc 100%
  );
  padding: 60px;
}

.grid-form-orcamento {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.primeiro-formulario-orcamento {
  gap: 60px;
  padding: 60px;
  background: #000000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.opcoes-orcamento {
  display: grid;
  gap: 20px;
  margin-bottom: 60px;
}

.bikcraft-ou-seg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.bikcraft-ou-seg li label,
.opcs-biks-segs li label {
  display: flex;
  gap: 20px;
  background: #7a7a7a;
  border-radius: 5px;
  padding: 20px 15px;
  align-self: center;
  cursor: pointer;
}

.opcoes-orcamento h5,
.opcoes-itens h5,
.segundo-formulario-orcamento h5 {
  font-size: 1.7rem;
  font-weight: 400;
  position: relative;
  margin-left: 16px;
}

.opcoes-orcamento h5::before,
.opcoes-itens h5::before,
.segundo-formulario-orcamento h5::before {
  content: "";
  width: 8px;
  height: 12px;
  background: #e4a30b;
  position: absolute;
  left: -16px;
  top: 15px;
}

.opcoes-orcamento p,
.opcoes-itens p {
  font-size: 1.5rem;
  font-weight: 700;
}

.opcoes-itens {
  display: grid;
  height: fit-content;
  gap: 20px;
}

.opcs-biks-segs li + li {
  margin-top: 40px;
}

.segundo-formulario-orcamento {
  display: grid;
  padding: 60px;
  background: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  gap: 60px;
}

.dados-pessoais,
.form-entrega,
.dados-entrega {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.dados-pessoais input,
.dados-entrega input {
  font-size: 1.2rem;
  padding: 12px;
  background: #f0f0f0;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
}

.dados-pessoais h5,
.dados-entrega h5 {
  grid-column: 1/-1;
  margin-bottom: 10px;
}

.primeiro-formulario-orcamento label,
.segundo-formulario-orcamento label {
  display: grid;
}

.cpf input::placeholder {
  color: #cccccc;
}

.email-orcamento {
  grid-column: 1/-1;
  grid-row: 4;
}
.cpf {
  grid-column: 1/-1;
}

.cep {
  grid-column: 1;
  grid-row: 2;
}

.numero {
  grid-column: 2;
  grid-row: 2;
}

.logradouro input::placeholder {
  color: #cccccc;
}

.estado input {
  border: 2px solid #525252;
}

.aceitar-termos {
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  gap: 20px;
}

.aceitar-termos label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.aceitar-termos h6 {
  font-size: 1rem;
  gap: 20px;
}

.botao-enviar {
  border: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1.5;
  background: linear-gradient(#ffbb00, #cca026);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #332200;
  cursor: pointer;
  justify-self: start;
}

.botao-enviar:hover {
  background: linear-gradient(#efae09, #c0882e);
}

.botao-enviar:active {
  background: linear-gradient(#efae09, #c0882e);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
}

.bikcraft-ou-seg li label input,
.opcs-biks-segs li label input {
  position: relative;
}

@media (max-width: 1200px) {
  .grid-form-orcamento {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .primeiro-formulario-orcamento .segundo-formulario-orcamento {
    gap: 40px;
    padding: 40px;
  }

  .opcoes-orcamento h5,
  .opcoes-itens h5,
  .segundo-formulario-orcamento h5 {
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    margin-left: 16px;
  }

  .opcoes-orcamento h5::before,
  .opcoes-itens h5::before,
  .segundo-formulario-orcamento h5::before {
    content: "";
    width: 8px;
    height: 12px;
    background: #e4a30b;
    position: absolute;
    left: -16px;
    top: 8.5px;
  }

  .bikcraft-ou-seg li label,
  .opcs-biks-segs li label {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    background: #7a7a7a;
    border-radius: 5px;
    padding: 16px 32px;
    align-self: center;
    cursor: pointer;
  }

  .opcoes-orcamento p,
  .opcoes-itens p {
    font-size: 1.1rem;
    align-self: center;
    font-weight: 700;
  }

  .opcoes-itens {
    display: grid;
    height: fit-content;
    gap: 16px;
  }

  .opcs-biks-segs li + li {
    margin-top: 20px;
  }

  .dados-pessoais input,
  .dados-entrega input {
    font-size: 1rem;
    padding: 8px;
    background: #f0f0f0;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
  }

  .botao-enviar {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .grid-form-orcamento {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .primeiro-formulario-orcamento,
  .segundo-formulario-orcamento {
    gap: 36px;
    padding: 36px;
  }

  .opcoes-orcamento h5,
  .opcoes-itens h5,
  .segundo-formulario-orcamento h5 {
    font-size: 1.1rem;
    font-weight: 400;
    position: relative;
    margin-left: 16px;
  }

  .opcoes-orcamento h5::before,
  .opcoes-itens h5::before,
  .segundo-formulario-orcamento h5::before {
    content: "";
    width: 6px;
    height: 8px;
    background: #e4a30b;
    position: absolute;
    left: -16px;
    top: 9px;
  }

  .bikcraft-ou-seg li label,
  .opcs-biks-segs li label {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    background: #7a7a7a;
    border-radius: 5px;
    padding: 16px 32px;
    align-self: center;
    cursor: pointer;
  }

  .opcoes-orcamento p,
  .opcoes-itens p {
    font-size: 1rem;
    align-self: center;
    font-weight: 700;
  }

  .opcoes-itens {
    display: grid;
    height: fit-content;
    gap: 12px;
  }

  .opcs-biks-segs li + li {
    margin-top: 20px;
  }

  .dados-pessoais input,
  .dados-entrega input {
    font-size: 0.9rem;
    padding: 8px;
    background: #f0f0f0;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
  }

  .botao-enviar {
    font-size: 1rem;
  }

  .aceitar-termos h6 {
    font-size: 0.95rem;
  }

  .dados-pessoais input::placeholder {
    font-size: 0.9rem;
  }

  @media (max-width: 800px) {
    .bg-orcamento {
      padding: 60px 40px;
    }
    .grid-form-orcamento {
      max-width: 600px;
      grid-template-columns: 1fr;
    }

    .primeiro-formulario-orcamento,
    .segundo-formulario-orcamento {
      gap: 28px;
      padding: 28px;
    }

    .primeiro-formulario-orcamento {
      grid-column: 1/-1;
      grid-row: 1;
    }

    .segundo-formulario-orcamento {
      grid-column: 1/-1;
      grid-row: 2;
    }

    .opcoes-orcamento h5,
    .opcoes-itens h5,
    .segundo-formulario-orcamento h5 {
      font-size: 1.1rem;
      font-weight: 400;
      position: relative;
      margin-left: 16px;
    }

    .opcoes-orcamento h5::before,
    .opcoes-itens h5::before,
    .segundo-formulario-orcamento h5::before {
      content: "";
      width: 6px;
      height: 8px;
      background: #e4a30b;
      position: absolute;
      left: -16px;
      top: 9px;
    }

    .bikcraft-ou-seg li label,
    .opcs-biks-segs li label {
      display: flex;
      grid-template-columns: 1fr;
      gap: 8px;
      background: #7a7a7a;
      border-radius: 5px;
      padding: 16px 32px;
      align-self: center;
      cursor: pointer;
      justify-content: center;
    }

    .opcoes-orcamento p,
    .opcoes-itens p {
      font-size: 1.1rem;
      align-self: center;
      font-weight: 700;
    }

    .dados-entrega {
      grid-column: 1/-1;
    }
  }

  @media (max-width: 700px) {
    .bg-orcamento {
      padding: 40px 20px;
    }
  }
}

@media (max-width: 590px) {
  .bg-orcamento {
    padding: 36px 24px;
  }

  .intro-orcamento {
    padding: 36px 24px;
  }

  .grid-form-orcamento {
    max-width: 490px;
  }
}
